/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
button,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  background: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after, blockquote:before {
  content: "";
  content: none;
}

q:after, q:before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Colors */
/* Typography */
/* Shadows */
/* Transitions */
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

button {
  cursor: pointer;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
*::before,
*::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
a:visited {
    text-decoration: underline;
  }
  a[href]::after {
    content: " (" attr(href) ")";
  }
  abbr[title]::after {
    content: " (" attr(title) ")";
  }
  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
a[href^="javascript:"]::after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }
  tr,
img {
    page-break-inside: avoid;
  }
  p,
h2,
h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
h3 {
    page-break-after: avoid;
  }
}
h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.3;
}

h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.25;
}

h4 {
  font-size: 16px;
  line-height: 1.3;
}

p {
  margin-top: 1.5em;
}
p:first-child {
  margin: 0;
}

.button {
  display: block;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 32px;
  border-radius: 20px;
  text-align: center;
  background: #5268FF;
  color: #fff;
}
.button:hover, .button:focus {
  background-color: #3741D9;
}
.button:disabled {
  background-color: #babcbf;
  cursor: default;
}

.block-button {
  transition: color 0.1s linear, background-color 0.1s linear;
  display: block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 10px 18px;
  border-radius: 5px;
  text-align: center;
  background: #5268FF;
  color: #fff;
}
.block-button:hover, .block-button:focus {
  background-color: #3741D9;
}
.block-button:disabled {
  background-color: #babcbf;
  cursor: default;
}

.block-button--tertiary {
  background-color: transparent;
  color: #5268FF;
}
.block-button--tertiary:hover, .block-button--tertiary:focus {
  background-color: #F7F9FA;
  color: #3741D9;
}

/* Main nav */
.main-nav {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 5;
  display: flex;
  gap: 12px;
}

.main-nav__items {
  background: #fff;
  border: 1px solid #E8EBED;
  border-radius: 5px;
  display: flex;
}

.main-nav__item {
  border-right: 1px solid #E8EBED;
}
.main-nav__item:last-child {
  border: none;
}
.main-nav__item:hover {
  background-color: #F7F9FA;
}
.main-nav__item button {
  height: 38px;
  padding: 10px 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
}

.account-nav-trigger {
  height: 40px;
  background: #fff;
  border: 1px solid #E8EBED;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 0 12px;
  gap: 8px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  cursor: pointer;
}
.account-nav-trigger:hover {
  background-color: #F7F9FA;
}

.account-nav-trigger__avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;
}
.account-nav-trigger__avatar img {
  object-fit: cover;
}

.account-nav {
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1), 0 10px 30px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
  transform: translate3d(0, -2px, 0);
  width: 250px;
  position: absolute;
  top: 58px;
  right: 10px;
  z-index: -1;
  background: #fff;
  border: 1px solid #E8EBED;
  border-radius: 5px;
  padding: 10px 0;
  opacity: 0;
}

.account-nav--active {
  transform: translate3d(0, 0, 0);
  opacity: 1;
  z-index: 5;
}

.account-nav__items::after {
  content: "";
  display: block;
  width: calc(100% - 20px);
  height: 1px;
  background: #E8EBED;
  margin: 10px;
}
.account-nav__items:last-child::after {
  display: none;
}

.account-nav__item a {
  padding: 5px 20px;
  color: #17181a;
  display: block;
  text-decoration: none;
  height: 35px;
  line-height: 25px;
  font-size: 14px;
  font-weight: 600;
}
.account-nav__item a:hover {
  background: #F7F9FA;
}

.transfer-window-container {
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1), 0 10px 30px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.8s cubic-bezier(0.3, 0, 0.3, 1);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 80px;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  width: 280px;
  height: 410px;
}

.transfer-window {
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1), 0 10px 30px 0 rgba(0, 0, 0, 0.2);
  transform: border-radius 0.3s;
  background: #fff;
  border-radius: 10px;
  flex: 280px 0 0;
  height: 410px;
  position: relative;
  overflow: hidden;
}

.transfer-window__content {
  width: 100%;
  height: 338px;
  overflow-y: auto;
}

.uploader {
  height: 120px;
}
.uploader:hover .uploader-trigger__icon path, .uploader:focus .uploader-trigger__icon path {
  fill: #3741D9;
}

.uploader-form {
  display: none;
}

.uploader-trigger {
  height: 100%;
  position: relative;
  padding-left: 66px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.uploader-trigger__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  width: 36px;
  height: 36px;
}
.uploader-trigger__icon path {
  transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  fill: #5268FF;
}

.uploader-trigger__title {
  font-weight: 400;
}

.uploader-trigger__subtitle {
  transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  text-decoration: underline;
  font-size: 14px;
  color: #484A4C;
}
.uploader-trigger__subtitle:hover, .uploader-trigger__subtitle:focus {
  color: #5268FF;
}

.uploader-fields {
  width: 100%;
  padding: 0 10px;
  border-top: 1px solid #D4D7D9;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.uploader-field {
  position: relative;
  height: 48px;
}
.uploader-field:not(:first-child) {
  border-top: 1px solid #D4D7D9;
}
.uploader-field label {
  transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  color: #6A6D70;
  font-size: 14px;
  line-height: 20px;
  position: absolute;
  transform: translateY(14px);
  left: 12px;
  pointer-events: none;
}
.uploader-field input,
.uploader-field textarea {
  width: 100%;
  height: 100%;
  border: none;
  padding: 16px 20px 0 12px;
  font-size: 14px;
  line-height: 20px;
}
.uploader-field input:focus,
.uploader-field textarea:focus {
  outline: none;
}
.uploader-field input:focus + label, .uploader-field input:not(:placeholder-shown) + label,
.uploader-field textarea:focus + label,
.uploader-field textarea:not(:placeholder-shown) + label {
  font-size: 12px;
  transform: translateY(5px);
}
.uploader-field textarea {
  transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  font-family: inherit;
  resize: none;
  overflow: hidden;
  padding-top: 22px;
}
.uploader-field textarea:not(:placeholder-shown):not(:focus) {
  padding-top: 16px;
}
.uploader-field textarea:not(:placeholder-shown):not(:focus) + label {
  opacity: 0;
}

.uploader__message {
  height: auto;
  flex-grow: 1;
  display: grid;
}
.uploader__message::after {
  content: attr(data-replicated-value) " ";
  white-space: pre-wrap;
  visibility: hidden;
  font-size: 14px;
  padding: 16px 20px 12px 12px;
}
.uploader__message > textarea, .uploader__message::after {
  /* Place on top of each other */
  grid-area: 1/1/2/2;
}

.transfer-window__options {
  transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  background-color: #F7F9FA;
  border-top: 1px solid #D4D7D9;
  display: none;
}
.transfer-window__options.transfer-options--active {
  display: block;
}

.transfer-window__footer {
  width: 100%;
  height: 72px;
  border-top: 1px solid #D4D7D9;
  padding: 0 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.transfer-options-trigger {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}
.transfer-options-trigger:hover path, .transfer-options-trigger:focus path {
  fill: #3741D9;
}
.transfer-options-trigger path {
  fill: #5268FF;
}
.transfer-options-trigger span {
  display: none;
}

.transfer-button {
  width: 160px;
}

.transfer-complete {
  transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  opacity: 0;
  z-index: -1;
}
.transfer--complete .transfer-complete {
  opacity: 1;
  z-index: 1;
}

.transfer-complete video {
  width: 170px;
  height: 170px;
}

.transfer-complete__content {
  padding: 0 20px;
  text-align: center;
}

.transfer-complete__content h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}

.transfer-complete__content p {
  font-size: 14px;
  color: #484A4C;
}

.transfer-complete__content a {
  color: #5268FF;
  font-size: 14px;
}
.transfer-complete__content a:hover, .transfer-complete__content a:focus {
  color: #3741D9;
}

.transfer-complete__actions {
  margin-top: 16px;
}

.discovery-drawer {
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1), 0 10px 30px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.8s cubic-bezier(0.3, 0, 0.3, 1);
  flex: 600px 0 0;
  border-radius: 0 10px 10px 0;
  overflow: hidden;
  background: #fff;
  z-index: -1;
  display: flex;
  transform: translate(-100%, 0);
  transform-origin: left;
}

.drawer--active {
  width: 880px;
}
.drawer--active .transfer-window {
  border-radius: 10px 0 0 10px;
}
.drawer--active .discovery-drawer {
  transform: translate(0, 0);
}
.drawer--active .discovery-drawer__content > * {
  opacity: 1;
  transform: translate(0, 0);
}
.drawer--active .drawer-graphic__background {
  transform: translate(0, 0);
  opacity: 1;
}
.drawer--active .drawer-graphic__tile {
  transform: translate(0, 0);
  opacity: 1;
}

.discovery-drawer__content {
  padding: 48px 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.discovery-drawer__content > * {
  opacity: 0;
  transform: translate(0, 10px);
  transition: all 0.6s cubic-bezier(0.65, 0.01, 0.25, 1.5);
}

.discovery-drawer__content > *:nth-child(1n) {
  transition-delay: 0.9s;
}

.discovery-drawer__content > *:nth-child(2n) {
  transition-delay: 1s;
}

.discovery-drawer__content > *:nth-child(3n) {
  transition-delay: 1.1s;
}

.discovery-drawer__content > *:nth-child(4n) {
  transition-delay: 1.2s;
}

.discovery-drawer__content > *:nth-child(5n) {
  transition-delay: 1.3s;
}

.discovery-drawer__description {
  flex-grow: 1;
  font-size: 14px;
  color: #484A4C;
}

.discovery-drawer__checklist {
  margin-top: 1.5em;
}

.discovery-drawer__actions {
  display: flex;
  gap: 4px;
  margin-top: 16px;
}

.drawer-graphic {
  flex: 250px 0 0;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}

.drawer-graphic__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("../img/drawer-graphic__background.svg");
  transform: translate(40px, 0);
  opacity: 0;
  transform-origin: right;
  transition: all 1.2s 0.6s ease;
}

.drawer-graphic__tiles {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  padding-left: 20px;
}

.drawer-graphic__tile {
  width: 240px;
  height: 64px;
  display: block;
  background-size: 100%;
  border-radius: 5px 0 0 5px;
  overflow: hidden;
  box-shadow: -3px 6px 12px rgba(0, 0, 0, 0.1);
  transform: translate(20px, 0);
  opacity: 0;
  transform-origin: right;
  transition: all 0.6s cubic-bezier(0.65, 0.01, 0.25, 1.5);
}
.drawer-graphic__tile:nth-child(1) {
  background-image: url("../img/drawer-graphic__transfer--top.png");
  transition-delay: 0.4s;
}
.drawer-graphic__tile:nth-child(2) {
  background-image: url("../img/drawer-graphic__transfer--middle.png");
  transition-delay: 0.6s;
}
.drawer-graphic__tile:nth-child(3) {
  background-image: url("../img/drawer-graphic__transfer--bottom.png");
  transition-delay: 0.8s;
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #17181a;
  background-color: #F7F9FA;
  font-size: 1em;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
}

body {
  overflow: hidden;
}

.wallpaper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.wallpaper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.checklist {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.checklist__item {
  display: block;
  padding-left: 20px;
  background: url("../img/checkmark.svg") no-repeat top 3px left;
}

.panel {
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1), -10px 5px 30px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transform: translate3d(105%, 0, 0);
  background: #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 3;
  width: 100%;
  max-width: 880px;
}

.panel--open {
  transform: translate3d(0, 0, 0);
}

.panel-topbar {
  background: #fff;
  border-bottom: 1px solid #E8EBED;
  height: 60px;
  width: 100%;
  position: relative;
}

.panel-close {
  width: 24px;
  height: 24px;
  cursor: pointer;
  top: 50%;
  left: 16px;
  transform: translate(0, -50%);
  position: absolute;
}
.panel-close:hover path {
  fill: #6A6D70;
}
.panel-close path {
  fill: #babcbf;
}

.panel-content {
  padding: 45px 80px 100px;
}

.scrollbar-wrapper {
  overflow: hidden;
}

.scrollbar-y {
  cursor: pointer;
  display: none;
  position: absolute;
  z-index: 2;
}

.scrollbar-y.scroll-scrolly_visible {
  display: block;
  right: 2px;
  top: 10px;
  bottom: 10px;
  width: 4px;
  height: calc(100% - 20px);
}

.scrollbar-y div {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.scrollbar-y .scroll-bar {
  background: #9999fc;
  z-index: 12;
  height: 160px;
  border-radius: 4px;
  background: #000;
  opacity: 0.2;
}

.scroll-wrapper > .scroll-content::-webkit-scrollbar {
  height: 0;
  width: 0;
}

/*# sourceMappingURL=main.css.map */
