@import "reset";
@import "variables";
@import "mixins";
@import "base";
@import "typography";
@import "buttons";

@import "navigation";
@import "transfer-window";


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: $color-woodsmoke;
  background-color: $color-aqua;
  font-size: 1em;
  font-family: Helvetica, Arial, sans-serif;
  // sass-lint:disable no-vendor-prefixes
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
}

body {
  overflow: hidden;
}

.wallpaper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// Checklists

.checklist {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.checklist__item {
  display: block;
  padding-left: 20px;
  background: url('../img/checkmark.svg') no-repeat top 3px left;
}


// Panel

.panel {
  @include shadow-panel;
  @include transition-panel;
  transform: translate3d(105%,0,0); // Takes the panel off-screen to start
  background: $color-white;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 3;
  width: 100%;
  max-width: 880px;

  @media #{$breakpoint-small} {
    width: 100vw;
    max-width: 100vw;
  }
}

.panel--full {
  width: calc(100vw - 6rem);
  max-width: 100%;

  @media #{$breakpoint-small} {
    width: 100vw;
    max-width: 100vw;
  }
}

.panel--open {
  transform: translate3d(0,0,0); // Brings the panel on-screen
}

.panel-topbar {
  background: #fff;
  border-bottom: 1px solid $color-porcelain;
  height: 60px;
  width: 100%;
  position: relative;
}

.panel-close {
  width: 24px;
  height: 24px;
  cursor: pointer;
  top: 50%;
  left: 16px;
  transform: translate(0, -50%);
  position: absolute;

  &:hover {
    path {
      fill: $color-oslo;
    }
  }

  path {
    fill: $color-silver;
  }
}

.panel-scrollable-area {
  overflow-y: scroll;
  height: calc(100vh - 60px);
}

.panel-content {
  padding: 45px 80px 100px;
}

.panel-workspace-name {
  @extend .subheading;
  display: block;
  padding-bottom: 1rem;
}

.panel-intro {
  font-size: $font-size-xl;
  color: $color-abbey;
}

.full-panel-content {
  width: 100%;
  margin: 0 auto;
  max-width: 77.5rem;
  padding: 3.5rem 4rem 7.5rem;
  display: flex;
  gap: 5rem;

  @media #{$breakpoint-large} {
    gap: 2.5rem;
  }

  @media #{$breakpoint-small} {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

.full-panel-body {
  flex-grow: 1;

  img {
    max-width: 100%;
  }
}

.full-panel-aside {
  padding-top: 3rem;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 16rem;

  @media #{$breakpoint-medium} {
    display: none;
  }
}

// Scrollable areas

.scrollbar-wrapper {
  overflow: hidden;
}

.scrollbar-y {
  cursor: pointer;
  display: none;
  position: absolute;
  z-index: 2;
}
  
.scrollbar-y.scroll-scrolly_visible {
  display: block;
    right: 2px;
    top: 10px;
    bottom: 10px;
    width: 4px;
    height: calc(100% - 20px);
}
 
.scrollbar-y div {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}
 
.scrollbar-y .scroll-bar {
    background: #9999fc;
    z-index: 12;
    height: 160px;
    border-radius: 4px;
    background: #000;
    opacity: 0.2;
}

.scroll-wrapper > .scroll-content::-webkit-scrollbar {
    height: 0;
    width: 0;
}