/* Shadows */

@mixin shadow-panel {
  box-shadow: 0 0 12px 0 rgb(0 0 0 / 10%), -10px 5px 30px 0 rgb(0 0 0 / 20%);
}

@mixin shadow-transfer-window {
  box-shadow: 0 0 12px 0 rgb(0 0 0 / 10%), 0 10px 30px 0 rgb(0 0 0 / 20%);
}

@mixin shadow-16 {
  box-shadow: 0px 8px 16px 0px rgba(#000, 0.1);
}

/* Transitions */

@mixin transition-panel {
  transition: transform .5s cubic-bezier(.77,0,.175,1);
}

@mixin transition-account-nav {
  transition: transform .2s ease;
}

@mixin transition-general {
  transition: all .3s cubic-bezier(.77,0,.175,1);
}

@mixin transition-button {
  transition: color .1s linear, background-color .1s linear;
}

@mixin transition-drawer {
  transition: all .8s cubic-bezier(.3,0,.3,1);
}