/* Colors */

$color-white: #fff;
$color-woodsmoke: #17181a;
$color-abbey: #484A4C;
$color-oslo: #6A6D70;
$color-silver: #babcbf;
$color-iron: #D4D7D9;
$color-porcelain: #E8EBED;
$color-aqua: #F7F9FA;

$color-primary: #5268FF;
$color-primary-active: #3741D9;
$color-flamingo: #E65050;
$color-supernova: #FFC610;


/* Typography */

$font-weight-regular: 400;
$font-weight-medium: 600;
$font-weight-bold: 700;

$font-size-s: 12px;
$font-size-m: 14px;
$font-size-l: 16px;
$font-size-xl: 18px;
$font-size-h4: 16px;
$font-size-h3: 18px;
$font-size-h2: 20px;
$font-size-h1: 40px;


/*
Breakpoints:
[Screen width] / [Panel width]
*/


// Panel offset = 96px/6rem
$panel-offset: 6rem;

// 1336px+ / 1240+
$breakpoint-l: "only screen and (max-width: calc(77.5rem + 6rem))";

// 1136px / 1040px
$breakpoint-m: "only screen and (max-width: calc(65rem + 6rem))";

// 864px / 768px
$breakpoint-s: "only screen and (max-width: calc(48rem + 6rem))";

// 448px / 448px
$breakpoint-xs: "only screen and (max-width: 28rem)";